html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
}

table {
    margin-top: 15%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 5%;
}

th, td {
    padding: 15px;
}

td:not(:last-child) {
    border-right: 1px solid black;
}

tr.alert td {
    border-top: 5px solid red;
    border-bottom: 5px solid red;
}

tr.greenAlert td {
    border-top: 5px solid green;
    border-bottom: 5px solid green;
}

tr:not(.alert):not(.greenAlert) td {
    border-bottom: 1px solid black;
}

tr.alert td:first-child {
    border-left: 5px solid red;
}

tr.greenAlert td:first-child {
    border-left: 5px solid green;
}

tr.purpleAlert td {
    border-top: 5px solid purple;
    border-bottom: 5px solid purple;
}

tr:not(.alert):not(.purpleAlert) td {
    border-bottom: 1px solid black;
}

tr.purpleAlert td:first-child {
    border-left: 5px solid purple;
}

/* tr:not(.alert):not(.greenAlert) td:first-child {
    border-left: 1px solid black;
} */

tr.alert td:last-child {
    border-right: 5px solid red;
}

tr.greenAlert td:last-child {
    border-right: 5px solid green;
}

/* tr:not(.alert):not(.greenAlert) td:last-child {
    border-right: 1px solid black;
} */

div.standby {
    width: 0px;
    height: 0px;
    visibility: collapse;
}

div.active {
    width: 100%;
    height: auto;
    visibility: visible;
}

input.black {
    background-color: black;
    color: white;
}

input.white {
    background-color: white;
    color: black;
}

span.blackText {
    color: black;
}

span.whiteText {
    color: white;
}

input.momInput {
    margin-bottom: 5px;
}

button.momMessageButton {
    text-align: center;
}

button.setupScreenButton {
    margin: 20px;
}

div#messagesDiv {
    background-color: white;
    border: 1px solid black;
    border-top: 0;
    border-right: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 33%;
}

div#calculatorDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#calculatorDivInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button#insuranceCalcButton, span#copiedMessageForInsuranceCalc {
    margin-left: 5px;
}

div#momMessageContainerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

div#momMessageStartDiv {
    order: 1;
}

div#momMessageEndDiv {
    order: 2;
}

div#mipDiv {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

div#mipDiv h3 {
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 5px;
    left: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border-top: outset;
    background-color: white;
    box-shadow: 0 50vh 0 50vh #fff;
}