html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(mistyrose, ghostwhite);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
}

table {
    margin-top: 10%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 5%;
}

input.standby, button.standby, fieldset.standby {
    visibility: collapse;
    height: 0px;
}

input.active, button.active, fieldset.active {
    visibility: visible;
    height: auto;
}

th, td {
    padding: 15px;
}

input.stringInput {
    display: block;
    margin-top: 10px;
}

td:not(:last-child) {
    border-right: 1px solid black;
}

tr.alert td {
    border-top: 5px solid red;
    border-bottom: 5px solid red;
}

tr.greenAlert td {
    border-top: 5px solid green;
    border-bottom: 5px solid green;
}

tr:not(.alert):not(.greenAlert):not(.purpleAlert) td {
    border-bottom: 1px solid black;
}

tr.alert td:first-child {
    border-left: 5px solid red;
}

tr.greenAlert td:first-child {
    border-left: 5px solid green;
}

tr.purpleAlert td {
    border-top: 5px solid purple;
    border-bottom: 5px solid purple;
}

tr.purpleAlert td:first-child {
    border-left: 5px solid purple;
}

/* tr:not(.alert):not(.greenAlert) td:first-child {
    border-left: 1px solid black;
} */

tr.alert td:last-child {
    border-right: 5px solid red;
}

tr.greenAlert td:last-child {
    border-right: 5px solid green;
}

tr.purpleAlert td:last-child {
    border-right: 5px solid purple;
}

/* tr:not(.alert):not(.greenAlert) td:last-child {
    border-right: 1px solid black;
} */

div.standby {
    width: 0px;
    height: 0px;
    visibility: collapse;
}

div.active {
    width: 100%;
    height: auto;
    visibility: visible;
}

input.black {
    background-color: black;
    color: white;
}

input.white {
    background-color: white;
    color: black;
}

span.blackText {
    color: black;
}

span.whiteText {
    color: rgba(255,255,255,0);
}

input.momInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.momMessageButton {
    text-align: center;
}

button.setupScreenButton {
    margin: 20px;
}

div#messagesDiv {
    background-color: mistyrose;
    border-bottom: outset;
    border-top: 0;
    border-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 22.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

h3#alternateIDHeader {
    text-align: center;
}

div#messagesDivRowContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

h4#calculatorDivHeading {
    text-align: center;
}

button#insuranceCalcButton, span#copiedMessageForInsuranceCalc {
    margin-left: 5px;
}

div#momMessageContainerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#momMessageStartDiv {
    order: 1;
    margin-bottom: 10px;
}

div#momMessageEndDiv {
    order: 2;
}

div#mipDiv h3 {
    text-align: center;
}

div#mipDiv input {
    display: block;
}

input#mip1 {
    margin-bottom: 5px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 5px;
    left: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border-top: outset;
    background-color: ghostwhite;
    box-shadow: 0 50vh 0 50vh #fff;
}

fieldset {
    padding: 25px;
    border-radius: 10px;
}

fieldset.active {
    visibility: visible;
    height: auto;
}

fieldset.standby {
    visibility: hidden;
    height: 0px;
}

button#specificValuesFieldsetToggle {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
}

button.largeButton {
    display: block;
    font-size: large;
    border-radius: 5px;
    margin: 15px; 
}

button#saveValuesButton {
    display: block;
}

main {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main h2 {
    text-align: center;
}

main li {
    margin-bottom: 10px;
}